html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--colors-background);
  direction: ltr;
  font-family: var(--font-family-sans-serif);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
