html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--colors-background);
  direction: ltr;
  font-family: var(--font-family-sans-serif);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-moz-selection {
  background-color: var(--colors-highlight);
  color: var(--colors-primary);
}
::selection {
  background-color: var(--colors-highlight);
  color: var(--colors-primary);
}

ol,
ul,
li {
  /* reset */
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  /* reset */
  padding: 0;
  font: inherit;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
