:root {
  /* https://systemfontstack.com/ */
  --font-family-sans-serif: Inter, -apple-system, BlinkMacSystemFont,
    avenir next, avenir, helvetica neue, helvetica, Ubuntu, roboto, noto,
    segoe ui, arial, sans-serif;
  --font-family-serif: Lora, Garamond, Georgia, serif;
  --font-family-mono: monospace;
  --font-size-scale: 1;
  --font-size-body: calc(14px * var(--font-size-scale));
  --font-weight-body: 400;

  --spacing: 8px;
  --scrollbar-width: 15px;
  --gutter-width: calc(var(--spacing) * 2);
  --window-width: calc(100vw - var(--scrollbar-width));
  --layout-width: calc(var(--window-width) - (var(--gutter-width) * 2));

  --shape-border-radius: 4px;
}

/* https://theme-ui.com/theming/ */
body.light {
  --colors-text-primary: hsl(252deg, 56%, 2%);
  --colors-text-secondary: hsl(0deg, 0%, 45%);
  --colors-primary: hsl(0deg, 0%, 0%);
  --colors-secondary: hsl(0deg, 0%, 50%);
  --colors-accent: hsl(250deg, 79%, 63%);
  --colors-highlight: hsl(260deg, 73%, 91%);
  --colors-muted: hsl(232deg, 15%, 50%);
  --colors-background: hsl(0deg, 0%, 96%);
  --colors-background-gradient: hsl(0deg, 0%, 100%);

  --colors-grey-100: hsl(225deg, 25%, 95%);
  --colors-grey-200: hsl(225deg, 16%, 90%);
  --colors-grey-300: hsl(225deg, 8%, 80%);
  --colors-grey-400: hsl(225deg, 8%, 70%);
  --colors-grey-500: hsl(225deg, 7%, 60%);
  --colors-grey-600: hsl(225deg, 15%, 50%);
  --colors-grey-700: hsl(225deg, 12%, 40%);
  --colors-grey-800: hsl(225deg, 20%, 30%);
  --colors-grey-900: hsl(225deg, 20%, 20%);
  --colors-grey-1000: hsl(225deg, 15%, 15%);

  --colors-link: hsl(216deg, 90%, 60%);
  --colors-link-alt: hsl(216deg, 100%, 60%, 0.4);
  --colors-link-alt-dark: hsl(216deg, 100%, 60%, 0.14);
  --colors-link-gradient: hsl(303deg, 100%, 70%, 0.4);

  --font-weight-bold: 600;
}

body.dark {
  --colors-text-primary: hsl(0deg, 0%, 95%);
  --colors-text-secondary: hsl(210deg, 5%, 75%);
  --colors-primary: hsl(0deg, 0%, 0%);
  --colors-secondary: hsl(0deg, 0%, 50%);
  --colors-accent: hsl(23deg 37% 51%);
  --colors-highlight: hsl(260deg, 73%, 91%);
  --colors-muted: hsl(232deg, 15%, 50%);
  --colors-background: hsl(232deg, 31%, 9%);
  --colors-background-gradient: hsl(232deg, 25%, 6%);

  --colors-grey-100: hsl(210deg, 15%, 20%);
  --colors-grey-200: hsl(210deg, 15%, 25%);
  --colors-grey-300: hsl(210deg, 10%, 40%);
  --colors-grey-400: hsl(210deg, 9%, 45%);
  --colors-grey-500: hsl(210deg, 8%, 50%);
  --colors-grey-600: hsl(210deg, 12%, 55%);
  --colors-grey-700: hsl(210deg, 14%, 66%);
  --colors-grey-800: hsl(210deg, 14%, 80%);
  --colors-grey-900: hsl(210deg, 17%, 88%);
  --colors-grey-1000: hsl(210deg, 17%, 96%);

  --colors-link: hsl(38deg, 91%, 60%);
  --colors-link-alt: hsl(38deg, 93%, 60%, 0.63);
  --colors-link-alt-dark: hsl(38deg, 93%, 60%, 0.19);
  --colors-link-gradient: hsl(333deg, 43%, 63%, 0.63);

  --font-weight-bold: 500;
}
