:root {
  /* https://systemfontstack.com/ */
  --font-family-sans-serif: Inter, -apple-system, BlinkMacSystemFont,
    avenir next, avenir, helvetica neue, helvetica, Ubuntu, roboto, noto,
    segoe ui, arial, sans-serif;
  --font-family-serif: Lora, Garamond, Georgia, serif;
  --font-family-mono: monospace;
}
